

<div class="des shadow-sm">
    <div class="container-fluid ">
      <div class="d-flex justify-content-around">
        <div>
          <div class=" font font-weight-bold">WE FEEL CONNECTION .. DO YOU?</div>
          <div>
            <img
              src="https://image.flaticon.com/icons/png/512/2175/2175193.png"
              class="size"
            />
            <img
              src="https://image.flaticon.com/icons/png/512/2175/2175195.png"
              class="size"
            />
            <img
              src="https://image.flaticon.com/icons/png/512/2175/2175198.png"
              class="size "
            />
            <img
              src="https://image.flaticon.com/icons/png/512/2175/2175203.png"
              class="size "
            />
            <img
              src="https://image.flaticon.com/icons/png/512/2175/2175205.png"
              class="size "
            />
          </div>
        </div>
  
        <div class="desktop-promises">
          <div class="desktop-section">
            <div
              class="myntraweb-footer-sprite desktop-original sprites-original"
            ></div>
            <div>
              <strong>100% ORIGINAL </strong
              >
              guarantee for all products at littleoak.com
             
            </div>
          </div>
          <div class="desktop-section">
            <div
              class=" desktop-return sprites-return"
            ></div>
            <div>
              <strong>Return within 30days </strong
              >of receiving your order
          </div>
          <div class="desktop-section">
            <div
              class=" desktop-delivery sprites-delivery myntraweb-footer-sprite"
            ></div>
            <div>
              <strong>Get free delivery </strong
              >for every order above Rs.
              1199
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
