<nav class="container-fluid d-flex shadow-lg shift justify-content-between sticky-top bg-light">
    <h1 class="font-weight-bold "><img src="https://image.flaticon.com/icons/svg/1357/1357872.svg" class="images">LITTLE OAK</h1>
  
   
    <div>
        <button type="button" class="btn" (click)="red()" >CHECK OUT OUR WIDE RANGE OF PRODUCTS</button>
      
      </div>
  
  
    <div class=" side d-inline-block d-flex">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a
            *ngIf="checkLogin()"
            class="nav-link text-dark font-weight-bold hover2 navy"
            href="/cart"
            >BAG</a
          >
        </li>
        <li class="nav-item ">
         <a *ngIf="checkLogin()"
            class="nav-link text-dark font-weight-bold hover2 navy" 
            href="/profile"
          >
            PROFILE</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="!checkLogin()"
            class="nav-link text-dark font-weight-bold hover2 navy"
            href="/signup"
            >SIGN UP</a
          >
        </li>
  
        <li class="nav-item">
          <a
            *ngIf="!checkLogin()"
            class="nav-link text-dark font-weight-bold hover2 navy"
            href="/login"
            >LOG IN</a
          >
          <a
            *ngIf="checkLogin()"
            class="nav-link text-dark font-weight-bold hover2 navy"
            (click)="logout()"
            >LOG OUT</a
          >
        </li>
      </ul>
    </div>
  </nav> 
  
  
  
  <div>
    <div id="demo" class="carousel slide p-5" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
  
      <div class="carousel-inner">
        <div class="carousel-item background3 size active">
        </div>
        <div class="carousel-item background1 size">
        </div>
        <div class="carousel-item background2 size">
        </div>
        <div class="carousel-item background4 size">
        </div>
      </div>
  
     
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  
    <img
      class="image-image undefined pb-4"
      src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/3/27/b1418eba-e250-4665-b37f-b04f81b18fa51553683205515-Brands-section.jpg"
    />
  
    <div class="pad">
      <a href="/products"
        ><img
          src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/retaillabs/2019/10/2/0569054c-d03e-4c31-b92c-bfd21db7d7ff1570008114213-Oct-19-5-Dressberry_Brandinfocus-Justin.jpg"
          class="imagesize"
      /></a>
      <a href="/products"
        ><img
          src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/retaillabs/2019/10/2/74b7c411-0a1e-4ebe-86d8-be5bd420efd71570007777781-Oct-19-5-M-H_App-Justin.jpg"
          class="imagesize"
      /></a>
      <a href="/products"
        ><img
          src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/retaillabs/2019/10/4/b7cca03f-62d0-49af-a89d-69b57e0e16cd1570180128114--TT---Sassafras_AHPMB_AR.jpg"
          class="imagesize"
      /></a>
      <a href="/products"
        ><img
          src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/retaillabs/2019/10/2/07ac3dd9-62b5-46dc-992a-a4c5bc4c81921570007962550-Oct-19-5-Roadster_Brandinfocus-Justin.jpg"
          class="imagesize"
      /></a>
    </div>
  
    <img
      class="image-image undefined pb-4"
      src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/3/27/6d391071-6177-4f2d-a339-fd81ccac2e221553683205570-We-Curate.jpg"
    />
  
    <div class="pad ">
      <div class="d-flex">
        <a href="/products"
          ><img
            src="https://assets.myntassets.com/w_490,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/9128eed6-43df-418d-b081-bee1cf10e4481563360396415-We-Curate-you-shop-3june_01.jpg"
            class="imagesize1 "
        /></a>
        <div>
          <p class="font-weight-bold fonts pad2"><span class="des">Open-Toed Sandals :</span> Dive Yourself A New Look!</p>
          <p class="font-weight-bold fonts "><span class="des">Graphic Tees :</span> Icebreakers For The First Date!</p>
          <p class="font-weight-bold fonts "><span class="des">Feminine Sides:</span> Get The Holiday Feels In The City!</p>
          <p class="font-weight-bold fonts "><span class="des">Trendy Denims :</span> Give Your Pants A New Trend!</p>
        </div>
      </div>
  
      <div class="d-flex">
        <a href="/products">
          <img
            src="https://assets.myntassets.com/w_490,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/6392d5d6-d661-472a-aacc-4869408447cd1563360396392-We-Curate-you-shop-3june_03.jpg"
            class="imagesize1"
        /></a>
        <div >
          <p class="font-weight-bold fonts "><span class="des">Printed Kurtis :</span> Modernising An Age-Old Trend!</p>
          <p class="font-weight-bold fonts "><span class="des">Mid-Top Sneakers :</span> Best Paired With Attitude!</p>
          <p class="font-weight-bold fonts "><span class="des">Floral Dresses :</span> Say Aloha To Vacay Styles!</p>
          <p class="font-weight-bold fonts "><span class="des">Stylish Bags :</span> Get A New Look Ready!</p>
        </div>
      </div>
    </div>
  
    <img
      class="image-image undefined pb-4 pt-5"
      src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/3/27/d8fbf385-32f6-4b00-870a-8b95b5f5564d1553683205560-Trends.jpg"
    />
    <div class="pad">
      <a href="/products"
        ><img
          src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/fe43f2f5-8cc2-460b-9a2f-43d498f81d371563360469249-women_01.jpg"
          class="imagesize"
      /></a>
      <a href="/products"
        ><img
          src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/ea6cdd64-1daa-45dc-9358-519394429b211563360469224-women_03.jpg"
          class="imagesize"
      /></a>
      <a href="/products"
        ><img
          src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/d008fcf2-408c-4951-8828-ea3ffd7b622e1563360548563-men_02.jpg"
          class="imagesize"
      /></a>
      <a href="/products"
        ><img
          src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/5b1b150a-e6a7-4152-80c0-a9edc29b1ca11563360469213-women_04.jpg"
          class="imagesize"
      /></a>
    </div>
  </div>
  